<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/cfplus4"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cfplus4"
        android:supportsRtl="true"
        android:theme="@style/Theme.Do_an_hk1_Androidstudio"
        tools:targetApi="31">
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".trang_dangky" />
        <activity android:name=".trangchu" />
        <activity android:name=".chitiet_sanpham" />
        <activity android:name=".SuaThongTinCaNhanActivity" />
        <activity android:name=".ThongTinCuaHangActivity" />
        <activity android:name=".ThongKeActivity" />
        <activity android:name=".NhanDonOnlineActivity" />
        <activity android:name=".NhanDonTaiBanActivity" />
        <activity android:name=".XuLyDatBanActivity" />
        <activity android:name=".HoaDonBanActivity" />
        <activity android:name=".QuanLyNhanVienActivity" />
        <activity android:name=".QuanLyMonActivity" />
        <activity android:name=".QuanLyDanhMucActivity" />
        <activity android:name=".QuanLyBanActivity" />
        <activity android:name=".QuanLyKhoActivity" />
        <activity android:name=".QuanLyKhuyenMaiActivity" />
        <activity android:name=".TableQrActivity" />
        <activity android:name=".DatBanActivity" />
        <activity android:name=".DonHangCuaToiActivity" />
        <activity android:name=".DatMonOnlineActivity" />
        <activity android:name=".DatMonTaiBanActivity" />
        <activity android:name=".ThanhToanKhachActivity" />
        <activity android:name=".VnpaySandboxConfigActivity" />
        <activity
            android:name=".VnpayReturnActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="vnpay-return"
                    android:scheme="cfplus" />
            </intent-filter>
        </activity>
        <activity android:name=".ChatboxActivity" />
        <activity android:name=".QuanLyKhachHangActivity" />
        <activity android:name=".ThongKeTongHopActivity" />
        <activity android:name=".HoSoKhachHangActivity" />
        <activity android:name=".FirebaseSeederActivity" />
        <activity android:name=".BootstrapManagerActivity" />

    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
</manifest>
